
  .red{
background-color: #ff8f8f;
}
.purple{
background-color: #ffccf5 ;
}
.yellow{
background-color:#fdff91 ;
}
.blue{
background-color: #a8beff;
}
.green{
background-color: #80ff8c;
}
.brown{
background-color: #b5bf6b;
}
.pink{
background-color: #ffbada;
}
.grey{
background-color: #bababa;
}
.blueish{
background-color: #948cab;
}
.lightgrey{
background-color:#e1d6ff ;
}
.offwhite{
background-color: ;
}
.purplish {
  background-color:#bef5f7;
}
